*.class
.classpath
.project
.DS_Store
.settings
.svn
.cvsignore

# Build output.
OneSwarm.jar
core-bin
core-dist
f2f-dist
gwt-bin
gwt-dist
merge-scratch
build.properties

# Run output
plugins/
speed_check.log
