/* @override 
	http://localhost:29615/edu.washington.cs.oneswarm.ui.gwt.OneSwarmGWT/OneSwarm.css
	http://localhost:8888/edu.washington.cs.oneswarm.ui.gwt.OneSwarmGWT/OneSwarm.css
	http://127.0.0.1:29615/gwt/standard/standard.css
	http://127.0.0.1:29615/oneswarmgwt/OneSwarm.css
	http://localhost:8888/oneswarmgwt/OneSwarm.css
*/

body {
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	margin: 0px 0px 0px 0px;
	background: url(images/header_reduced.png) repeat-x;
}

.os-ui_root {
	width: 100%;
}

.os-hrule {
	height: 1px;
	border-bottom: 1px solid #919191;
}

.os-clickable {
	cursor: pointer;
}

.os-error_text {
	font-size: 14pt;
}

/**
 * We needed to tweak the tags tree in the GWT code itself due to 
 * quirks. look there for this
 */
.os-bold {
	font-weight: bold;
}

.os-text_color_disabled {
	color: #888;
}

.os-text_color_black {
	color: black;
}

a {
	text-decoration: none;
	margin-bottom: 3px;
}

.os-backend_task {
	font-size: 12px;
	color: blue;
	cursor: pointer;
}

.os-browser_warning {
	background-color: #FFEDB8;
	text-align: center;
}

.os-small_button {
	font-size: 80%;
	height: 20px;
}

.os-torrent_header_name {
	font-size: 13pt;
}

.os-torrent_header_sub {
	font-size: 10pt;
}

table.gwt-DecoratedTabPanel.os-f2f_tabs {
	margin-top: 4px;
}

table.gwt-DecoratedTabPanel.os-f2f_tabs .gwt-TabPanelBottom {
	border-color: #92c1f0;
	border-style: solid;
	border-width: 2px 0px 1px;
	overflow: hidden;
	padding: 0px;
}

.os-xfer_details_tabs {
	margin-top: 10px;
}

table.gwt-DecoratedTabPanel.os-xfer_details_tabs .gwt-TabPanelBottom {
	border-color: #92c1f0;
	border-style: solid;
	border-width: 2px 0px 1px;
	overflow: hidden;
	padding: 0px;
}

table.gwt-DecoratedTabPanel.os-f2f_tabs table.gwt-DecoratedTabBar .gwt-Label
	{ /* not quite sure what to do here, but as-is could look better */
	
}

.os-welcome_banner {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.os-welcome_prompt {
	font-size: 18px;
}

.os-NotificationDialogBox {
	border-color: #92c1f0;
	border-style: solid;
	border-width: 2px 0px 1px;
	overflow: hidden;
	padding-bottom: 5px;
}

.os-details_progress_bar {
	width: 100%;
}

.os-filtered_count_label {
	text-align: center;
	width: 100%;
	background-color: #B3CBE2;
}

.os-search_panel {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
}

.os-dialog_header {
	vertical-align: bottom;
	height: 40px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #575757;
	display: table-cell;
}

.os-f2f_file_browser .gwt-ScrollTable {
	width: 100%;
}

/**
 * ScrollTable
 */
.gwt-ScrollTable {
	border-right-color: #C3DAF9;
	border-bottom-color: #C3DAF9;
	border-left-color: #C3DAF9;
	border-left-width: 2px;
	border-bottom-width: 2px;
	border-right-width: 2px;
}

.gwt-ScrollTable .headerWrapper {
	background: #C3DAF9;
}

.gwt-ScrollTable .footerWrapper {
	background: #C3DAF9;
	border-top: 1px solid #6F99CF;
}

.gwt-ScrollTable .dataWrapper td {
	white-space: nowrap;
	overflow: hidden;
	padding: 2px;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
	font-size: 12px;
}

.gwt-ScrollTable .dataWrapper table.os-membership_list td {
	white-space: nowrap;
	overflow: hidden;
	padding: 2px;
	border-top: None;
	border-right: None;
	font-size: 12px;
	cursor: pointer;
}

.os-membership_list_disabled .gwt-Label {
	color: #b9b9b9;
}

.gwt-ScrollTable .headerWrapper td,.gwt-ScrollTable .footerWrapper td {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	/*        border-top: 1px solid #FFF;
        border-right: 1px solid #FFF;
        */
}

.gwt-nameStyle {
	text-decoration: underline;
	text-color: #00BFFF;
	cursor: pointer;
}

.gwt-ScrollTable .headerTable td,.gwt-ScrollTable .footerTable td {
	color: #000;
	background: color :                                           #10428C;
	font-weight: bold;
	padding-bottom: 3px;
	white-space: nowrap;
	text-align: left;
	vertical-align: bottom;
}

.gwt-ScrollTable .dataWrapper tr {
	background: #EEE;
}

.gwt-ScrollTable .dataWrapper tr.dispari {
	background: #FFF;
}

.gwt-ScrollTable .dataWrapper tr.selected,.gwt-ScrollTable .dataWrapper tr.selected td
	{
	background: #DDD;
}

.gwt-ScrollTable .dataWrapper tr.hovering {
	background: #D9E8FB;
}

.gwt-ScrollTable .dataWrapper td.hovering {
	cursor: hand;
	cursor: pointer;
}

.gwt-ScrollTable .pagingOptions {
	background: #D4E0F2;
	border-top: 1px solid #A9BFD3;
	padding: 1px 0px;
	font-size: 11px;
}

.gwt-ScrollTable .pagingOptions .errorLabel {
	color: red;
}

/***************************************************************/
.os-video_preview_bg {
	opacity: 1.0;
}

.effectPanel {
	cursor: pointer;
}

/**
* doing this in GWT now for rounded corner effect 
.os-file_highlighted .os-video_preview_bg {
	background-color: #cacaca;
}
*/
.os-video_preview_bg .os-transferring {
	opacity: 0.5;
}

.os-f2f_label {
	color: #7e7e7e;
}

.os-torrent-list {
	border: 1px solid #C3D9FF;
	padding: 0px;
	margin: 0px;
}

.os-file_highlighted {
	cursor: default;
}

.os-navpanel_icon {
	float: left;
}

.os-navpanel_button_label {
	vertical-align: middle;
}

.os-files_popup_menu {
	font-size: 16pt;
}

.os-file_icon {
	float: left;
	margin: 4px;
}

.os-file_icon .gwt-Label {
	white-space: wrap;
	width: 150px;
	word-wrap: break-word;
	line-height: 15px;
	overflow: hidden;
	cursor: default;
}

.os-file_highlighted .gwt-Label {
	color: white;
	cursor: default;
}

.os-file_icon .os-file_highlighted {
	cursor: default;
}

.os-browser_header_buttons {
	background-color: #B3CBE2;
	border-bottom: 1px solid #8da0b1;
}

.os-browser_header_buttons .gwt-ListBox {
	/* it would be nice if we could increase the font size here... */
	
}

.os-torrent-list-corners {
	background-color: #c3d9ff;
}

.os-torrent-list-name {
	font-weight: bold;
	font-size: 130%;
	overflow: hidden;
}

.os-torrent-list-header {
	border: 2px solid #C3D9FF;
}

.os-torrent-list-header-text {
	font-size: 100%;
}

.os-torrent-list-default {
	font-size: 80%;
}

.os-torrent-list-details { /*font-size: 80%;*/
	
}

.os-torrent-list-details-table {
	border: 1px solid #C3D9FF;
	border-spacing: 0px;
	font-size: 65%;
}

.gwt-ProgressBar-shell {
	border: 1px solid #faf9f7;
	border-right: 1px solid #848280;
	border-bottom: 1px solid #848280;
	background-color: #9a9a9b;
	height: 10pt;
	width: 95%;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
	background-color: #3876D7;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text {
	padding: 0px;
	margin: 1px 0px 0px;
	color: white;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
}

.os-search_results_panel {
	border-bottom: 2px solid #B3CBE2;
	border-left: 2px solid #B3CBE2;
	border-right: 2px solid #B3CBE2;
}

.os-video_browser {
	border-bottom: 2px solid #B3CBE2;
	border-left: 2px solid #B3CBE2;
	border-right: 2px solid #B3CBE2;
	width: 100%;
}

.os-no_files_label {
	text-align: center;
	margin-top: 75px;
}

.os-welcome_defaults_button {
	font-size: 18px;
	width: 300px;
	vertical-align: middle;
	background: #f2f2f2;
	height: 50px;
	color: #0000AA;
	text-decoration: underline;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#os-no_files_label {
	text-align: center;
	height: 200px;
	margin-top: 100px;
}

.os-main_footer {
	width: 100%;
	margin-top: 20pt;
	border-top: 1px solid #e0e0e0;
}

.os-main_footer .gwt-Label {
	text-align: center;
	font-size: 8pt;
}

.gwt-DialogBox {
	background-color: #f6f6f6;
	z-index: 1000;
	overflow: hidden;
	border-width: 2px;
	border-style: outset;
}

.gwt-DialogBox .Top {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	padding: 4px 4px 4px 8px;
	cursor: default;
	height: 100%;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #d0e4f6;
}

/*
 * Override GWT default since we muck around with everything
 */
.gwt-DialogBox .Caption {
	background: None;
	padding: 4px 4px 4px 8px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #d0e4f6;
}

/*
 * Override GWT default since we muck around with everything
 */
.gwt-DialogBox .Caption {
	background: None;
	padding: 4px 4px 4px 8px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #d0e4f6;
}

.gwt-DialogBox .Top .Caption {
	cursor: default;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	border-top: 0px;
	font-weight: bold;
	border-bottom: None;
	border-top: None;
	background-color: transparent;
}

.os-ErrorBox {
	border: 2px solid red;
	background-color: white;
	z-index: 1010;
	overflow: hidden;
}

.os-ErrorBox .Caption {
	background-color: red;
	padding: 3px;
	margin: 2px;
	font-weight: bold;
	cursor: default;
	z-index: 1010;
}

.os-HelpBox {
	z-index: 2001;
	cursor: pointer;
}

.os-image-panel {
	background: black;
}

.os-embedded {
	background: black;
	margin: 0px;
	margin-top: 2px;
	padding: 0px;
}

/*
.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
	padding: 1px 4px 1px 4px;
	font-size: smaller;
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background-color: #E8EEF7;
}
*/
.os-addDownloadLink {
	background-color: #FFFFFF;
	width: 180px;
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
	font-size: 90%;
	padding-bottom: 10px;
	padding-left: 5px;
}

.os-friendsLink {
	background-color: #FFFFFF;
	width: 180px;
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
	font-size: 90%;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-left: 5px;
}

.os-categoryLink a {
	font-size: 12pt;
	text-align: left;
}

.os-categoryLinkCorners {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

.os-categoryLink-selected {
	background-color: #B3CBE2;
	border-color: #B3CBE2;
}

.os-navpanel {
	padding-left: 10px;
	width: 200px;
	padding-top: 23px;
}

.os-categoryLinkCorners-selected {
	background-color: #B3CBE2;
}

.os-sidebar_stats {
	text-align: left;
}

.os-chat_notification {
	text-align: left;
	font-weight: bold;
	margin-top: 3px;
}

.os-categoryList {
	width: 180px;
}

os-friendPanel {
	padding-top: 20px;
	/*	width: 180px;
	padding-left: 10px;*/
}

.os-friendList {
	margin-top: 5px;
	width: 170px;
	border: 2px solid #C3D9FF;
}

.os-friendList .header td {
	color: #0000AA;
}

.os-friendList .header {
	font-family: arial;
	color: blue;
	cursor: pointer;
	font-size: 14px;
	width: 170px;
	background-color: #C3D9FF;
	font-size: 100%;
	text-align: left;
	/*	text-decoration: none;
	font-size: 90%;
	text-align: left; */
}

.os-friendInviteSide {
	margin-top: 30px;
}

.os-friendInviteSideContent {
	margin: 0px 5px 2px 5px;
	padding-left: 2px;
}

.os-friendInviteSidePanel {
	width: 170px;
	border: 2px solid #C3D9FF;
}

.os-friendInviteSidePanel .header td {
	color: #0000AA;
}

.os-friendInviteSidePanel .header {
	font-family: arial;
	color: blue;
	cursor: pointer;
	font-size: 12px;
	width: 170px;
	background-color: #C3D9FF;
	font-size: 100%;
	text-align: left;
	/*	text-decoration: none;
	font-size: 90%;
	text-align: left; */
}

.os-friendListRequestPanel {
	border-bottom: 4px solid #C3D9FF;
	padding-bottom: 2px;
	cursor: pointer;
	/*background-color: #C3D9FF;*/
}

.os-friendListRequestPadding { /* border-bottom: 4px solid #C3D9FF; */
	padding-bottom: 10px;
	/*background-color: #C3D9FF;*/
}

.os-friendListFooter {
	border: 0px;
	text-decoration: underline;
	text-align: center;
	color: #0000cc;
}

.os-friendListFooterMenu {
	text-decoration: underline;
	text-align: center;
	font-size: 90%;
	width: 160px;
	color: #0000cc;
	cursor: pointer;
}

/*table td {
  color: #0000AA;
}*/
.os-navpanel .gwt-DisclosurePanel .content {
	border-left: 0px solid #e8eef7;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
}

.os-friend_highlight {
	background-color: #c0ccff;
}

.os-group_panel_header {
	margin-bottom: 3px;
}

.os-friendListElement {
	font-size: 90%;
	font-family: arial;
	cursor: pointer;
	overflow: hidden;
}

.os-friendListElementDisconnected {
	font-size: 90%;
	color: grey;
	overflow: hidden;
}

.os-friendListCorners {
	background-color: #c3d9ff;
	width: 170px;
}

.os-searchButton {
	width: 150px;
}

.os-search_bar {
	marginBottom: 5px;
}

.os-searchField {
	width: 300px;
	margin-left: 10px;
	font: 14px Arial, sans-serif;
	margin-bottom: 5px;
}

.os-searchLabel {
	font: 14px Arial, sans-serif;
}

.os-connectionLog {
	overflow: scroll;
	white-space: nowrap;
	color: black;
}

.os-search_tabs div.gwt-TabPanelBottom {
	padding: 0px;
	border-width: 0px 0px 0px;
}

.os-search_tab_item {
	white-space: nowrap;
}

.limit_exceeded_warning {
	color: RED;
}

.friend_invitation-code {
	color: black;
	font-size: 65%;
	font-weight: bold;
	background-color: white;
	text-align: center;
	font-family: "Courier New" Courier;
	background-color: white;
}

.friend_invitation-code-padding {
	padding-top: 20px;
	padding-bottom: 20px;
}

.os-add_friend_publickey_text {
	font-family: "Courier New" Courier;
	color: black;
}

.os-date-picker-label {
	color: black;
}

.os-date-picker-popup {
	z-index: 2001;
}

.rightclick_menu {
	background-color: gray;
	border-color: gray gray gray gray;
	border-width: 1px 3px 3px 1px;
	border-style: solid solid solid solid;
}

.rightclick_menu-item {
	font-weight: normal;
	font-size: 80%;
}

.os-service-share-caption {
	padding-top: 5px;
	font-size: 14px;
	font-weight: bold;
}

/**
 * ScrollTable
 
.gwt-ScrollTable {
	border-color: #aaa;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
}

.gwt-ScrollTable .gwt-ScrollTable-header-wrapper {
	background: #8bd url(bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .gwt-ScrollTable-footer-wrapper {
	border-top: 1px solid #aaa;
	background: #8bd url(bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .gwt-ScrollTable-data td,.gwt-ScrollTable .gwt-ScrollTable-header td,.gwt-ScrollTable .gwt-ScrollTable-footer td
	{
	border-color: #aaa;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	white-space: nowrap;
	overflow: hidden;
	padding: 3px;
}

.gwt-ScrollTable .gwt-ScrollTable-header td,.gwt-ScrollTable .gwt-ScrollTable-footer td
	{
	color: #fff;
}

.gwt-ScrollTable .gwt-ScrollTable-data tr.hovering {
	background: #C3D9FF;
}

.gwt-ScrollTable .gwt-ScrollTable-data td.hovering {
	border: 1px solid blue;
	cursor: hand;
	cursor: pointer;
}

.gwt-ScrollTable .gwt-ScrollTable-data tr.selected {
	background: #7AA5D6;
}

.gwt-ScrollTable .pagingOptions {
	background: #e8eef7;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	padding: 1px 0px;
}

.gwt-ScrollTable .pagingOptions .errorLabel {
	color: red;
}

.gwt-CellEditor {
	border: 3px solid #7AA5D6;
	padding: 4px;
	background: white;
}

.gwt-CellEditor td {
	padding: 4px;
}

*/